/* CSS Document */

.gks-root .ui-slider-handle{
	width:2.1rem;height:2rem;border-radius:10rem;transform:translate(-.35rem,-.35rem);font:normal normal normal 14px/1 FontAwesome}
.gks-root .ui-slider-handle:before{content:"\f0c9";font-size:1.1rem;transform:rotate(90deg) translate(0.9rem,.05rem);display:block;transform-origin:center}
.gks-root{
background-color: white;
border: 1px solid #dddddd;
border-radius: 5px;
box-shadow: 3px 3px 16px 0px #4d4d4d4a;
padding: 24px;




/*
	.ui-slider-handle{
		width: 2.1rem;
	    height: 2rem;
	    border-radius: 10rem;
	    transform: translate(-.35rem, -.35rem);
		font: normal normal normal 14px/1 FontAwesome;

		&:before{
			content: "\f0c9";
		    font-size: 1.1rem;
		    transform: rotate(90deg) translate(0.9rem, 0.05rem);
		    display: block;
		    transform-origin: center;
		}
	
	.ui-state-active{
		 styl podczas wleczenia handlera 
	}
	   
	}
*/
	.gks-slider-caption{
		ul{
			list-style: none;
			display: flex;
			justify-content: space-between;

			li{
				transform: translateY(-40px);
			    font-size: 12px;
			    color: gray;
			    font-weight: bold;
			    
				&:first-of-type{
					text-align: left;
				}
				&:last-of-type{
					text-align: right;
				}
			}
		}

	}

  .text-bar{
  	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
    align-items: baseline;

  	> section {
  		display: flex;
  		flex-direction: row;
		align-items: baseline;

		&:first-of-type{			

			i{
				padding-right: 10px;
				font-size: 20px;
				line-height:100%;
				margin:0;
			}
			
			p{				
				font-size: 16px;
			}
			
		}

  		&:last-of-type{
			font-size: 24px;
			font-weight: bold;
			
			p{
				margin: 0;
			}

			span{
				padding-left:12px;
				font-size: 18px;
				align-items: baseline;
			}
  		}
  	}

	&.gks-summary-val{

  		> section{
  			&:last-of-type{
  				span{
  					padding-left:12px;
					font-size: 18px;
					align-items: baseline;

  					&:first-of-type{
  						font-weight: normal;  						
  					}
  					&:nth-of-type(2){
  						min-width: 100px;
						display: inline-flex;
  						align-items: baseline;
  						justify-content: flex-end;
  					}
  					&:last-of-type{
						font-weight: normal;
  					}					
				}
  			}
  		}	
	}

}

  .ui-slider{
  	margin-bottom: 3rem;
  }
}
