<div id="app-koot_namespace" style="background-color: pink; color: red;">
  <h1>KOOT App!</h1>
  <p>
    <!-- use router-link component for navigation. -->
    <!-- specify the link by passing the `to` prop. -->
    <!-- `<router-link>` will be rendered as an `<a>` tag by default -->
    <router-link to="/">Home</router-link>
    <router-link to="/foo">Go to FooT</router-link>
    <router-link to="/bar">Go to Koot</router-link>
  </p>
  <!-- route outlet -->
  <!-- component matched by the route will render here -->
  <router-view></router-view>
</div>